doctype html
html
  head
    title Books
    block head
      link(href='../static/stylesheets/style.css', rel='stylesheet')
      script(src='../static/js/script.js', defer='')

  body
    div.wrapper
     block content